.navbar{
    background: linear-gradient(90deg, rgba(213, 224, 226, 0.986) 0%, rgb(93, 91, 95) 38%, rgb(249, 249, 250) 100%);
   
    
}
.body{
    background: rgb(121, 202, 212);
  
}

.bg-livre {
    background: rgb(121, 202, 212);
    
}


.sidebar a, .drop-a{
    text-decoration: none;
    transition: 1s;
}
.sidebar a:hover, .drop-a:hover{
    margin-left: 10px;
    transition: 1s;
    text-decoration: none;
}



@media screen and (max-width:625px)
{
.sidebar{
    min-height: auto;
}
}